div , span{
        color: red;
      }

/* Child Selector - direct child*/
div>p{
    background-color: aqua;
}

/* descendent selector */

div p{
    color: azure;
}

/* Universal Selector */
*{
    margin: 0;
    padding: 0;
}

/* Psuedo Selectors */
a:visited {
    color: green;
}

a:hover{
    background-color: brown;
}


/* Jahan jahan p apne parent ka first child h wahan wahan change apply hoga */
p:first-child{
    color: aqua;
}
/*BELOW ARE JUST CONCEPTS NOT RELATED TO THIS FILE  */
/*boxes ke andar jitne elements hain sbko target krne ke liye  */
.boxes *{
        border:2px solid red;
}

/* first line select krna h */

.boxes  :: first-line{
        color:yellow;
}

/*boxes ke andar, boxes ke main content ke pehle koi content daalne ke liye use hota h  */
.boxes::before{
        conteny:"I am a good boy";
}

.boxes::after{
        conteny:"I am a Atul";
}
